.mainContainer {
  background-color: #131722;
  color: white;
}
table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

tr:hover {
  background-color: #d6eeee !important;
}

tr:nth-child(even) {
  background-color: #60a3d9 !important;
}
tr:nth-child(odd) {
  background-color: #0074b7 !important;
}
